################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/OOSelenium.Framework
/SampleWebApp/bin
/SampleWebApp/obj/Debug
*.suo
