################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/OOSelenium.Framework
/SampleWebApp/bin
/SampleWebApp/obj/Debug
*.suo
/Framework/obj/Debug
/Framework/bin/Debug
/.vs/OOSelenium.SampleWebApp.UiTests/v16/TestStore/0
/SampleWebApp.UiTests/bin/Debug
/SampleWebApp.UiTests/obj/Debug
/Framework/obj/Release
/SampleWebApp/obj/Release
/SampleWebApp.UiTests/obj/Release
/.vs/OOSelenium.SampleWebApp/config/applicationhost.config
/Framework/OOSelenium.Framework.csproj.user
/SampleWebApp.UiTests/SampleWebApp.UiTests.csproj.user
/.vs/OOSelenium.SampleWebApp.UiTests/config/applicationhost.config
/.vs/OOSelenium.SampleWebApp.UiTests
/.vs
/Framework/obj
/SampleWebApp.UiTests/obj
/SampleWebApp/.vs
