################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/OOSelenium.Framework
/SampleWebApp/bin
/SampleWebApp/obj/Debug
*.suo
/Framework/obj/Debug
/Framework/bin/Debug
/.vs/OOSelenium.SampleWebApp.UiTests/v16/TestStore/0
/SampleWebApp.UiTests/bin/Debug
/SampleWebApp.UiTests/obj/Debug
