<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="preferredWebBrowser" value="MicrosoftEdge"/>
		<add key="defaultWaitTimeInSecondsAfterUrlNavigationInIE" value="20"/>
		<add key="GoogleChrome-exeAbsolutePath" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
		<add key="GoogleChrome-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.WebDriver.ChromeDriver.84.0.4147.3001\driver\win32"/>
		<add key="MozillaFirefox-exeAbsolutePath" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
		<add key="MozillaFirefox-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.Firefox.WebDriver.0.26.0\driver"/>
		<add key="MicrosoftEdge-exeAbsolutePath" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe"/>
		<add key="MicrosoftEdge-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\WebDrivers\Edge"/>
		<!--^^ The web driver for Microsoft Edge is NOT from the NuGet package, but downloaded from Microsoft Web Driver
		page specifically for the version of the Microsoft Edge web browser that you have installed. Please read the
		ReadMe.txt file in the "Web Drivers" directory. -->
		<add key="InternetExplorer-exeAbsolutePath" value="C:\Program Files\internet explorer\iexplore.exe"/>
		<add key="InternetExplorer-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.InternetExplorer.WebDriver.3.150.1\driver"/>
	</appSettings>
</configuration>