<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="preferredWebBrowser" value="GoogleChrome"/>
		<add key="GoogleChrome-exeAbsolutePath" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
		<add key="GoogleChrome-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.WebDriver.ChromeDriver.84.0.4147.3001\driver\win32"/>
		<add key="MozillaFirefox-exeAbsolutePath" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
		<add key="MozillaFirefox-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.Firefox.WebDriver.0.26.0\driver"/>
		<add key="InternetExplorer-exeAbsolutePath" value="C:\Program Files\internet explorer\iexplore.exe"/>
		<add key="InternetExplorer-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.InternetExplorer.WebDriver.3.150.1\driver"/>
	</appSettings>
</configuration>