<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="preferredWebBrowser" value="GoogleChrome"/>
		<!--^^ Allowed values:
			GoogleChrome
			MozillaFirefox
			MicrosoftEdge
			InternetExplorer
		-->

		<add key="runMode" value="grid"/>
		<!--^^ Allowed values:
			local
			grid
		-->

		<add key="gridHubUrl" value="http://192.168.1.28:4444/wd/hub"/>
		<add key="gridPlatform" value="Windows"/>
		<!--
			The above two settings are required, only if the value of "runMode" is "grid".
		-->

		<add key="defaultWaitTimeInSecondsAfterUrlNavigationInIE" value="20"/>
		
		<!--
			Web Driver details
		-->
		<add key="GoogleChrome-exeAbsolutePath" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
		<add key="GoogleChrome-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.WebDriver.ChromeDriver.86.0.4240.2200\driver\win32"/>
		<!--^^ Please note that as the Google Chrome version increases (due to updates), the corresponding web driver
		for Google Chrome will become incompatible with the latest version of Chrome web browser. If any failure happens
		while executing the UI tests, please check the compatibility of the Chrome web driver with your version of the
		Chrome web browser.
		-->
		
		<add key="MozillaFirefox-exeAbsolutePath" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
		<add key="MozillaFirefox-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.Firefox.WebDriver.0.26.0\driver"/>
		
		<add key="MicrosoftEdge-exeAbsolutePath" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe"/>
		<add key="MicrosoftEdge-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\WebDrivers\Edge"/>
		<!--^^ The web driver for Microsoft Edge is NOT from the NuGet package, but downloaded from Microsoft Web Driver
		page specifically for the version of the Microsoft Edge web browser that you have installed. Please read the
		ReadMe.txt file in the "Web Drivers" directory. -->
		
		<add key="InternetExplorer-exeAbsolutePath" value="C:\Program Files\internet explorer\iexplore.exe"/>
		<add key="InternetExplorer-webDriverExeDirectoryAbsolutePath" value="D:\Dropbox\Professional\GitHub\ObjectOrientedSeleniumForSpecByEgFramework\packages\Selenium.InternetExplorer.WebDriver.3.150.1\driver"/>
	</appSettings>
</configuration>